{
  "presets": [
    "es2015",
    "stage-3", // https://babeljs.io/docs/plugins/preset-stage-3/
    "react"
  ],
  "plugins": [
    ["transform-runtime"], // https://babeljs.io/docs/plugins/transform-runtime/
    ["transform-class-properties", { "spec": true }], // https://babeljs.io/docs/plugins/transform-class-properties/
    ["transform-es2015-classes"], // https://babeljs.io/docs/plugins/transform-es2015-classes/
    ["transform-react-constant-elements"] // https://babeljs.io/docs/plugins/transform-react-constant-elements/
  ]
}
